accent-colorauto
align-contentnormal
align-itemsnormal
align-selfauto
alignment-baselineauto
all
anchor-namenone
anchor-scopenone
animation-compositionreplace
animation-delay0s
animation-directionnormal
animation-duration0s
animation-fill-modenone
animation-iteration-count1
animation-namenone
animation-play-staterunning
animation-range-endnormal
animation-range-startnormal
animation-timelineauto
animation-timing-functionease
app-regionnone
appearancenone
aspect-ratioauto
backdrop-filternone
backface-visibilityvisible
background-attachmentscroll
background-blend-modenormal
background-clipborder-box
background-colorrgba(0, 0, 0, 0)
background-imagenone
background-originpadding-box
background-position-x0%
background-position-y0%
background-repeatrepeat
background-sizeauto
baseline-shift0px
baseline-sourceauto
block-size890px
border-block-end-colorrgb(0, 0, 0)
border-block-end-stylesolid
border-block-end-width0px
border-block-start-colorrgb(0, 0, 0)
border-block-start-stylesolid
border-block-start-width0px
border-bottom-colorrgb(0, 0, 0)
border-bottom-left-radius0px
border-bottom-right-radius0px
border-bottom-stylesolid
border-bottom-width0px
border-collapseseparate
border-end-end-radius0px
border-end-start-radius0px
border-image-outset0
border-image-repeatstretch
border-image-slice100%
border-image-sourcenone
border-image-width1
border-inline-end-colorrgb(0, 0, 0)
border-inline-end-stylesolid
border-inline-end-width0px
border-inline-start-colorrgb(0, 0, 0)
border-inline-start-stylesolid
border-inline-start-width0px
border-left-colorrgb(0, 0, 0)
border-left-stylesolid
border-left-width0px
border-right-colorrgb(0, 0, 0)
border-right-stylesolid
border-right-width0px
border-start-end-radius0px
border-start-start-radius0px
border-top-colorrgb(0, 0, 0)
border-top-left-radius0px
border-top-right-radius0px
border-top-stylesolid
border-top-width0px
bottomauto
box-decoration-breakslice
box-shadownone
box-sizingborder-box
break-afterauto
break-beforeauto
break-insideauto
buffered-renderingauto
caption-sidetop
caret-animationauto
caret-colorrgb(0, 0, 0)
clearnone
clipauto
clip-pathnone
clip-rulenonzero
colorrgb(0, 0, 0)
color-interpolationsrgb
color-interpolation-filterslinearrgb
color-renderingauto
color-schemenormal
column-countauto
column-fillbalance
column-gapnormal
column-rule-colorrgb(0, 0, 0)
column-rule-stylenone
column-rule-width0px
column-spannone
column-widthauto
containnone
contain-intrinsic-block-sizenone
contain-intrinsic-heightnone
contain-intrinsic-inline-sizenone
contain-intrinsic-widthnone
container-namenone
container-typenormal
contentnormal
content-visibilityvisible
corner-bottom-left-shaperound
corner-bottom-right-shaperound
corner-end-end-shaperound
corner-end-start-shaperound
corner-start-end-shaperound
corner-start-start-shaperound
corner-top-left-shaperound
corner-top-right-shaperound
counter-incrementnone
counter-resetnone
counter-setnone
cursorauto
cx0px
cy0px
dnone
directionltr
displayblock
dominant-baselineauto
dynamic-range-limitno-limit
empty-cellsshow
field-sizingfixed
fillrgb(0, 0, 0)
fill-opacity1
fill-rulenonzero
filternone
flex-basisauto
flex-directionrow
flex-grow0
flex-shrink1
flex-wrapnowrap
floatnone
flood-colorrgb(0, 0, 0)
flood-opacity1
font-familyui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
font-feature-settingsnormal
font-kerningauto
font-optical-sizingauto
font-palettenormal
font-size16px
font-size-adjustnone
font-stretch100%
font-stylenormal
font-synthesis-small-capsauto
font-synthesis-styleauto
font-synthesis-weightauto
font-variant-alternatesnormal
font-variant-capsnormal
font-variant-east-asiannormal
font-variant-emojinormal
font-variant-ligaturesnormal
font-variant-numericnormal
font-variant-positionnormal
font-variation-settingsnormal
font-weight400
forced-color-adjustauto
grid-auto-columnsauto
grid-auto-flowrow
grid-auto-rowsauto
grid-column-endauto
grid-column-startauto
grid-row-endauto
grid-row-startauto
grid-template-areasnone
grid-template-columnsnone
grid-template-rowsnone
height890px
hyphenate-characterauto
hyphenate-limit-charsauto
hyphensmanual
image-orientationfrom-image
image-renderingauto
initial-letternormal
inline-size720px
inset-block-endauto
inset-block-startauto
inset-inline-endauto
inset-inline-startauto
interactivityauto
interest-delay-endnormal
interest-delay-startnormal
interpolate-sizenumeric-only
isolationauto
justify-contentnormal
justify-itemsnormal
justify-selfauto
leftauto
letter-spacingnormal
lighting-colorrgb(255, 255, 255)
line-breakauto
line-height24px
list-style-imagenone
list-style-positionoutside
list-style-typedisc
margin-block-end0px
margin-block-start0px
margin-bottom0px
margin-inline-end0px
margin-inline-start0px
margin-left0px
margin-right0px
margin-top0px
marker-endnone
marker-midnone
marker-startnone
mask-clipborder-box
mask-compositeadd
mask-imagenone
mask-modematch-source
mask-originborder-box
mask-repeatrepeat
mask-sizeauto
mask-typeluminance
math-depth0
math-shiftnormal
math-stylenormal
max-block-sizenone
max-heightnone
max-inline-sizenone
max-widthnone
min-block-size0px
min-height0px
min-inline-size0px
min-width0px
mix-blend-modenormal
object-fitfill
object-position50% 50%
object-view-boxnone
offset-anchorauto
offset-distance0px
offset-pathnone
offset-positionnormal
offset-rotateauto 0deg
opacity1
order0
orphans2
outline-colorrgb(0, 0, 0)
outline-offset0px
outline-stylenone
outline-width0px
overflow-anchorauto
overflow-blockhidden
overflow-clip-margin0px
overflow-inlinehidden
overflow-wrapnormal
overflow-xhidden
overflow-yhidden
overlaynone
overscroll-behavior-blockauto
overscroll-behavior-inlineauto
overscroll-behavior-xauto
overscroll-behavior-yauto
padding-block-end24px
padding-block-start24px
padding-bottom24px
padding-inline-end0px
padding-inline-start0px
padding-left0px
padding-right0px
padding-top24px
pageauto
page-orientation
paint-ordernormal
perspectivenone
perspective-origin360px 445px
pointer-eventsauto
positionstatic
position-anchorauto
position-areanone
position-try-fallbacksnone
position-try-ordernormal
position-visibilityanchors-visible
print-color-adjusteconomy
quotesauto
r0px
reading-flownormal
reading-order0
resizenone
rightauto
rotatenone
row-gapnormal
ruby-alignspace-around
ruby-positionover
rxauto
ryauto
scalenone
scroll-behaviorauto
scroll-initial-targetnone
scroll-margin-block-end0px
scroll-margin-block-start0px
scroll-margin-bottom0px
scroll-margin-inline-end0px
scroll-margin-inline-start0px
scroll-margin-left0px
scroll-margin-right0px
scroll-margin-top0px
scroll-marker-groupnone
scroll-padding-block-endauto
scroll-padding-block-startauto
scroll-padding-bottomauto
scroll-padding-inline-endauto
scroll-padding-inline-startauto
scroll-padding-leftauto
scroll-padding-rightauto
scroll-padding-topauto
scroll-snap-alignnone
scroll-snap-stopnormal
scroll-snap-typenone
scroll-target-groupnone
scroll-timeline-axisblock
scroll-timeline-namenone
scrollbar-colorrgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0)
scrollbar-gutterauto
scrollbar-widththin
shape-image-threshold0
shape-margin0px
shape-outsidenone
shape-renderingauto
size
speaknormal
stop-colorrgb(0, 0, 0)
stop-opacity1
strokenone
stroke-dasharraynone
stroke-dashoffset0px
stroke-linecapbutt
stroke-linejoinmiter
stroke-miterlimit4
stroke-opacity1
stroke-width1px
tab-size4
table-layoutauto
text-alignstart
text-align-lastauto
text-anchorstart
text-autospaceno-autospace
text-box-edgeauto
text-box-trimnone
text-combine-uprightnone
text-decoration-colorrgb(0, 0, 0)
text-decoration-linenone
text-decoration-skip-inkauto
text-decoration-stylesolid
text-decoration-thicknessauto
text-emphasis-colorrgb(0, 0, 0)
text-emphasis-positionover
text-emphasis-stylenone
text-indent0px
text-orientationmixed
text-overflowclip
text-renderingauto
text-shadownone
text-size-adjust100%
text-spacing-trimnormal
text-transformnone
text-underline-offsetauto
text-underline-positionauto
text-wrap-modewrap
text-wrap-styleauto
timeline-scopenone
topauto
touch-actionauto
transformnone
transform-boxview-box
transform-origin360px 445px
transform-styleflat
transition-behaviornormal
transition-delay0s
transition-duration0s
transition-propertyall
transition-timing-functionease
translatenone
unicode-bidiisolate
user-selectauto
vector-effectnone
vertical-alignbaseline
view-timeline-axisblock
view-timeline-insetauto
view-timeline-namenone
view-transition-classnone
view-transition-groupnormal
view-transition-namenone
visibilityvisible
white-space-collapsecollapse
widows2
width720px
will-changeauto
word-breaknormal
word-spacing0px
writing-modehorizontal-tb
x0px
y0px
z-indexauto
zoom1
-webkit-border-horizontal-spacing0px
-webkit-border-vertical-spacing0px
-webkit-box-alignstretch
-webkit-box-directionnormal
-webkit-box-flex0
-webkit-box-ordinal-group1
-webkit-box-orienthorizontal
-webkit-box-packstart
-webkit-box-reflectnone
-webkit-font-smoothingauto
-webkit-line-clampnone
-webkit-locale"en"
-webkit-mask-box-image-outset0
-webkit-mask-box-image-repeatstretch
-webkit-mask-box-image-slice0 fill
-webkit-mask-box-image-sourcenone
-webkit-mask-box-image-widthauto
-webkit-mask-position-x0%
-webkit-mask-position-y0%
-webkit-perspective-origin-x
-webkit-perspective-origin-y
-webkit-rtl-orderinglogical
-webkit-tap-highlight-colorrgba(0, 0, 0, 0)
-webkit-text-combinenone
-webkit-text-decorations-in-effectnone
-webkit-text-fill-colorrgb(0, 0, 0)
-webkit-text-securitynone
-webkit-text-stroke-colorrgb(0, 0, 0)
-webkit-text-stroke-width0px
-webkit-transform-origin-x
-webkit-transform-origin-y
-webkit-transform-origin-z
-webkit-user-dragauto
-webkit-user-modifyread-only
-webkit-border-imagenone
-webkit-ruby-positionbefore
-webkit-text-orientationvertical-right
--animate-spinspin 1s linear infinite
--blur-3xl64px
--blur-sm8px
--color-amber-100oklch(96.2% 0.059 95.617)
--color-amber-200oklch(92.4% 0.12 95.746)
--color-amber-300oklch(87.9% 0.169 91.605)
--color-amber-400oklch(82.8% 0.189 84.429)
--color-amber-50oklch(98.7% 0.022 95.277)
--color-amber-500oklch(76.9% 0.188 70.08)
--color-amber-600oklch(66.6% 0.179 58.318)
--color-black#000
--color-blue-200oklch(88.2% 0.059 254.128)
--color-blue-300oklch(80.9% 0.105 251.813)
--color-blue-400oklch(70.7% 0.165 254.624)
--color-blue-500oklch(62.3% 0.214 259.815)
--color-blue-600oklch(54.6% 0.245 262.881)
--color-blue-800oklch(42.4% 0.199 265.638)
--color-blue-900oklch(37.9% 0.146 265.522)
--color-emerald-100oklch(95% 0.052 163.051)
--color-emerald-200oklch(90.5% 0.093 164.15)
--color-emerald-300oklch(84.5% 0.143 164.978)
--color-emerald-400oklch(76.5% 0.177 163.223)
--color-emerald-500oklch(69.6% 0.17 162.48)
--color-emerald-600oklch(59.6% 0.145 163.225)
--color-emerald-700oklch(50.8% 0.118 165.612)
--color-emerald-800oklch(43.2% 0.095 166.913)
--color-emerald-900oklch(37.8% 0.077 168.94)
--color-gray-100oklch(96.7% 0.003 264.542)
--color-gray-200oklch(92.8% 0.006 264.531)
--color-gray-300oklch(87.2% 0.01 258.338)
--color-gray-400oklch(70.7% 0.022 261.325)
--color-gray-50oklch(98.5% 0.002 247.839)
--color-gray-500oklch(55.1% 0.027 264.364)
--color-gray-600oklch(44.6% 0.03 256.802)
--color-gray-700oklch(37.3% 0.034 259.733)
--color-gray-800oklch(27.8% 0.033 256.848)
--color-gray-900oklch(21% 0.034 264.665)
--color-gray-950oklch(13% 0.028 261.692)
--color-green-200oklch(92.5% 0.084 155.995)
--color-green-400oklch(79.2% 0.209 151.711)
--color-green-500oklch(72.3% 0.219 149.579)
--color-green-600oklch(62.7% 0.194 149.214)
--color-green-800oklch(44.8% 0.119 151.328)
--color-green-900oklch(39.3% 0.095 152.535)
--color-indigo-100oklch(93% 0.034 272.788)
--color-indigo-200oklch(87% 0.065 274.039)
--color-indigo-300oklch(78.5% 0.115 274.713)
--color-indigo-400oklch(67.3% 0.182 276.935)
--color-indigo-500oklch(58.5% 0.233 277.117)
--color-indigo-600oklch(51.1% 0.262 276.966)
--color-indigo-900oklch(35.9% 0.144 278.697)
--color-lime-400oklch(84.1% 0.238 128.85)
--color-lime-500oklch(76.8% 0.233 130.85)
--color-lime-900oklch(40.5% 0.101 131.063)
--color-orange-300oklch(83.7% 0.128 66.29)
--color-orange-400oklch(75% 0.183 55.934)
--color-orange-500oklch(70.5% 0.213 47.604)
--color-orange-600oklch(64.6% 0.222 41.116)
--color-orange-900oklch(40.8% 0.123 38.172)
--color-pink-400oklch(71.8% 0.202 349.761)
--color-pink-500oklch(65.6% 0.241 354.308)
--color-pink-600oklch(59.2% 0.249 0.584)
--color-pink-900oklch(40.8% 0.153 2.432)
--color-purple-300oklch(82.7% 0.119 306.383)
--color-purple-400oklch(71.4% 0.203 305.504)
--color-purple-500oklch(62.7% 0.265 303.9)
--color-purple-600oklch(55.8% 0.288 302.321)
--color-purple-900oklch(38.1% 0.176 304.987)
--color-red-200oklch(88.5% 0.062 18.334)
--color-red-300oklch(80.8% 0.114 19.571)
--color-red-400oklch(70.4% 0.191 22.216)
--color-red-500oklch(63.7% 0.237 25.331)
--color-red-600oklch(57.7% 0.245 27.325)
--color-red-900oklch(39.6% 0.141 25.723)
--color-rose-100oklch(94.1% 0.03 12.58)
--color-rose-200oklch(89.2% 0.058 10.001)
--color-rose-300oklch(81% 0.117 11.638)
--color-rose-400oklch(71.2% 0.194 13.428)
--color-rose-500oklch(64.5% 0.246 16.439)
--color-rose-900oklch(41% 0.159 10.272)
--color-sky-200oklch(90.1% 0.058 230.902)
--color-sky-300oklch(82.8% 0.111 230.318)
--color-sky-400oklch(74.6% 0.16 232.661)
--color-sky-500oklch(68.5% 0.169 237.323)
--color-sky-900oklch(39.1% 0.09 240.876)
--color-slate-500oklch(55.4% 0.046 257.417)
--color-slate-600oklch(44.6% 0.043 257.281)
--color-slate-700oklch(37.2% 0.044 257.287)
--color-slate-900oklch(20.8% 0.042 265.755)
--color-violet-400oklch(70.2% 0.183 293.541)
--color-violet-500oklch(60.6% 0.25 292.717)
--color-white#fff
--color-yellow-400oklch(85.2% 0.199 91.936)
--color-yellow-500oklch(79.5% 0.184 86.047)
--color-yellow-600oklch(68.1% 0.162 75.834)
--color-yellow-900oklch(42.1% 0.095 57.708)
--container-2xl42rem
--container-3xl48rem
--container-4xl56rem
--container-5xl64rem
--container-6xl72rem
--container-7xl80rem
--container-lg32rem
--container-md28rem
--container-sm24rem
--container-xl36rem
--container-xs20rem
--default-font-familyui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
--default-mono-font-familyui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
--default-transition-duration150ms
--default-transition-timing-functioncubic-bezier(0.4, 0, 0.2, 1)
--ease-incubic-bezier(0.4, 0, 1, 1)
--ease-in-outcubic-bezier(0.4, 0, 0.2, 1)
--ease-outcubic-bezier(0, 0, 0.2, 1)
--font-monoui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
--font-sansui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
--font-weight-black900
--font-weight-bold700
--font-weight-medium500
--font-weight-normal400
--font-weight-semibold600
--leading-tight1.25
--radius-2xl1rem
--radius-3xl1.5rem
--radius-lg0.5rem
--radius-md0.375rem
--radius-sm0.25rem
--radius-xl0.75rem
--radius-xs0.125rem
--spacing0.25rem
--text-2xl1.5rem
--text-2xl--line-heightcalc(2 / 1.5)
--text-3xl1.875rem
--text-3xl--line-heightcalc(2.25 / 1.875)
--text-4xl2.25rem
--text-4xl--line-heightcalc(2.5 / 2.25)
--text-5xl3rem
--text-5xl--line-height1
--text-base1rem
--text-base--line-heightcalc(1.5 / 1)
--text-lg1.125rem
--text-lg--line-heightcalc(1.75 / 1.125)
--text-sm0.875rem
--text-sm--line-heightcalc(1.25 / 0.875)
--text-xl1.25rem
--text-xl--line-heightcalc(1.75 / 1.25)
--text-xs0.75rem
--text-xs--line-heightcalc(1 / 0.75)
--tracking-tight-0.025em
--tracking-wide0.025em
--tracking-wider0.05em
--tw-border-stylesolid
--tw-content""
--tw-divide-x-reverse0
--tw-divide-y-reverse0
--tw-drop-shadow-alpha100%
--tw-gradient-fromrgba(0, 0, 0, 0)
--tw-gradient-from-position0%
--tw-gradient-torgba(0, 0, 0, 0)
--tw-gradient-to-position100%
--tw-gradient-viargba(0, 0, 0, 0)
--tw-gradient-via-position50%
--tw-inset-ring-shadow0 0 #0000
--tw-inset-shadow0 0 #0000
--tw-inset-shadow-alpha100%
--tw-outline-stylesolid
--tw-ring-offset-color#fff
--tw-ring-offset-shadow0 0 #0000
--tw-ring-offset-width0px
--tw-ring-shadow0 0 #0000
--tw-scale-x1
--tw-scale-y1
--tw-scale-z1
--tw-shadow0 0 #0000
--tw-shadow-alpha100%
--tw-space-x-reverse0
--tw-space-y-reverse0
--tw-translate-x0
--tw-translate-y0
--tw-translate-z0
